<div *ngFor="let pokemon of pokemons">
  <button (click)="addToPlayer(1, pokemon)">You</button>
  <button (click)="addToPlayer(2, pokemon)">Other Player</button>
  <img [src]="pokemon.sprite">
  <div>Name: {{ pokemon.name | titlecase }}</div>
  <div>Base Experience {{ pokemon.baseExperience }}</div>
</div>

<div>
  YOU
  <div>
    <div *ngFor="let pokemon of selectedPokemonsP1">
      <img (click)="removePokemonFromTrade(pokemon, 1)" [src]="pokemon.sprite">
    </div>
  </div>
  OTHER PLAYER
  <div>
    <div *ngFor="let pokemon of selectedPokemonsP2">
      <img (click)="removePokemonFromTrade(pokemon, 2)" [src]="pokemon.sprite">
    </div>
  </div>
</div>
<div>{{ isFair }}</div>
<button (click)="checkTrade()">Check Trade</button>
<button (click)="trade()">Trade</button>
